
.recipe-card {
  font-family: 'EB Garamond';
  width: 350px;
  text-decoration:"none";
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  transition: box-shadow 0.3s ease;
}

.recipe-card:hover {
  background-color: rgb(86, 83, 83)smoke !important;
  transform: scale(0.95);
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1b4f5c;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
@media (min-width: 768px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    margin-right: 20px; /* Adjust the spacing for medium and larger screens */
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    margin-right: 10px; /* Adjust the spacing for small screens */
  }
}

.navbar-nav .nav-item .nav-link.active {
  color: #6e6c6c !important;
}

.nav-link:hover {
  color: #6e6c6c !important;
}

.btn-custom {
  color: #fff !important; /* Text color */
  background-color: #1b4f5c !important; /* Background color */
  border-color: #1b4f5c !important; /* Border color */
}

.btn-custom:hover {
  color: #fff !important; /* Text color on hover */
  background-color: #11323a !important; /* Background color on hover */
  border-color: #11323a !important; /* Border color on hover */
}

.btn-custom:focus, .btn-custom.focus {
  color: #fff !important; /* Text color on focus */
  background-color: #153c46 !important; /* Background color on focus */
  border-color: #11323a !important; /* Border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(41, 75, 81, 0.5) !important; /* Box shadow on focus */
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff !important; /* Text color for disabled state */
  background-color: #153c4688 !important; /* Background color for disabled state */
  border-color: #153c4688 !important; /* Border color for disabled state */
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important; /* Text color when active */
  background-color: #11323a !important; /* Background color when active */
  border-color: #11323a !important; /* Border color when active */
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 105, 113, 0.689) !important; /* Box shadow when active/focused */
}